body {
  font-family: 'Manrope', sans-serif;
  background-color: beige;
}

header {
  margin: 0;
  padding: 0;
  min-height: 250px;
}

.main--content {
  margin: 0;
  padding: 0;
  height: 65vh;
}

footer {
  margin: 0;
  padding: 0;
}

#title {
  font-family: 'Baloo Bhaina 2', cursive;
}

/* Header styles */

.profile--pic {
  border: 3px solid goldenrod;
  border-radius: 40%;
  margin: 0 auto;
  background-color: whitesmoke;
}

.header--full {
  background-image: url(gold%20pattern.png);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  border-bottom: 2px solid goldenrod;
}

.header--left {
  text-align: center;
  max-height: 260px;
  padding: 10px;
  border-top: 2px solid goldenrod;
}

.header--right {
  text-align: center;
  border: 2px solid goldenrod;
}

.header--title {
  padding: 10px 0;
  height: 160px;
  margin: 0;
  display: table;
}

.header--title h1 {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 900;
  font-size: 450%;
  letter-spacing: 3px;
}

.header--nav {
  height: 100px;
  width: 100%;
  display: table;
}

.header--nav div {
  border: 1.5px solid goldenrod;
  display: inline-block;
  height: 100px;
}

.header--nav div:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transition-delay: 0.1s;
  color: floralwhite;
}
  
.header--nav div span {
  font-weight: 600;
  font-size: 27px;
  padding: 10px 0 2px 0;
  letter-spacing: 2px;
  display: block;
}

.header--nav i {
  display: block;
  padding: 15px 0 2px 0;
  font-size: 27px;
}

/* Main section styles */

.main--content {
  background-color: red;
}

.main--left {
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: bisque;
}

.main--left div {
  margin: 0px 0 0 20px;
  border-left: 3px solid darkgrey;
}

.main--left h3 {
  margin: 30px 0 0 10px;
  display: block;
}

.main--left hr {
  height: 2px;
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  color: rgba(0,0,0,0.1);
}

.main--left h4 {
  margin: 10px 0 10px 10px;
  display: block;
}

.main--right {
  height: 100%;
  background-color: brown;
}


/* Footer styles */

#footer-holder {
  height: 30px;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer--full {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  background-color: darkslategray;
  height: 30px;
}

.footer--left {
  text-align: left;
  font-size: 10px;
}

.footer--left p {
  padding-top: 10px;
  margin-left: 20px;
  color: floralwhite;
}

.footer--middle {
  text-align: center;
  font-size: 15px;
  padding-top: 5px;
  color: floralwhite;
  font-weight: 600;
}

.footer--middle i {
  padding-left: 10px;
}

.footer--middle i:hover {
  color: goldenrod;
  transform: scale(1.2);
}

.footer--right {
  text-align: right;
  font-size: 20px;
}

.footer--right p i{
  color: floralwhite;
  padding-right: 20px;
}

.footer--right p i:hover {
  color: goldenrod;
  transform: scale(1.2);
}